extends views/layout.pug

block content
    .container
        .first-screen
            .slide1.mainpage-slide
                .line1.line
                    div
                        h1(class="minpage-slide-title") Смена
                    div
                        .backgrounded-img.slide1-img1(style='background-image:url(../media/case2.png')
                    div
                        h4(class="minpage-slide-text-big") За нас говорят объекты
                
                .line2.line
                    div
                        h1(class="minpage-slide-title") Парадигмы

                .line3.line
                    div
                        p.minpage-slide-text-small Если вы еще не знаете, какой нужен бюджет для проекта, то просто закажите эксперта
                    div
                        h1(class="minpage-slide-title-smooth") в дизайне

                .line4.line
                    .text
                        div   
                            h5.minpage-slide-text-big Мы — архитектурное бюро в&nbsp;новосибирске
                        div
                            h6.minpage-slide-text-medium , деятельность которого направлена на качественное улучшение городской среды. Мы восстанавливаем, формируем и воспитываем культуру проектирования. 

                .last-case
                    a(href="somewhere") 
                        div
                            p Последний кейс бюро
                        div
                            .backgrounded-img.slide1-img2(style='background-image:url(../media/case3.png')
            
            .slide2.mainpage-slide
                .line1.line
                    div
                        p(class="minpage-slide-text-small") Проектная организация «Формат Проект» основана в Новосибирске в 2010 году. Мы оказываем комплекс услуг по разработке проектной документации в сфере гражданского и промышленного строительства.
                    div
                        p(class="minpage-slide-text-small") Проектируем жилые дома и общественные здания, производственные сооружения и предприятия, многофункциональные комплексы.
                    div
                        p(class="minpage-slide-text-small") За время работы мы выполнили более 500 проектов. Среди наших партнеров: ИКЕА, ТЦ «Аура», Ertle Stroy, Альфа Ритейл Компани, ГК «Конквест», санаторий «Родник Алтая», медицинская компания «Инвитро».
                
                .line2.line
                    div
                        h1(class="minpage-slide-title") продуманность

                .line3.line
                    div 
                        h1(class="minpage-slide-title") решений

                .slide2-img
                    div
                        .backgrounded-img.slide2-img1(style='background-image:url(../media/case3.png')

            .slide3.mainpage-slide
                .slide3-img
                    a(href="somewhere") 
                        .backgrounded-img.slide3-img1(style='background-image:url(../media/case3.png')
                        p Последний кейс бюро

                .line1.line
                    h1(class="minpage-slide-title") простое
                    
                .line2.line
                    h1(class="minpage-slide-title-smooth") и сложное

                .line3.line
                    p(class="minpage-slide-text-small") Мы думаем, как без лишних затрат соединить эффектный образ и удобство при эксплуатации. Мы думаем, какой будет вид из окна каждой комнаты и как тень в полдень ляжет на террасу Вашего коттеджа.
                    p(class="minpage-slide-text-small") Мы заботимся, чтобы видя плачущего прораба, Вы всегда были уверены, что это не Ваш работник, потому что документация по Вашему проекту выполнена профессионалами.

                .line4.line
                    .text-column
                        p(class="minpage-slide-text-small") Мы любим сложные задачи, а также поможем и с простыми. Нам интересно проектировать завод или театр, квартиру, коттедж или офис.
                        p(class="minpage-slide-text-small") Принципы нашей работы: продуманность решений и внимание к деталям. В нашей команде архитекторы, инженеры и конструкторы, дизайнеры с большим опытом работы. Мы делаем проекты «под ключ» точно к назначенной дате.
                        p(class="minpage-slide-text-small") Мы готовы ответить на все Ваши вопросы о проектировании, реконструкции зданий и перепланировке помещений!

                    .inst-line 
                        .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')
                        .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')
                        .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')
                        .inst-element.backgrounded-img(style='background-image:url(../media/case3.png')

            .slide4.mainpage-slide
                .slide4-container
                    .slide4-content
                        .slide4-title Давайте обсудим ваш&nbsp;проект!
                        .slide4-text Мы готовы ответить на&nbsp;все Ваши вопросы о&nbsp;проектировании, реконструкции зданий и&nbsp;перепланировке помещений! Оставьте номер телефона ниже, и&nbsp;наш специалист свяжется с&nbsp;вами!

                        .slide4-contacts
                            .slide4-contacts-text
                                .slide4-contacts-text-title адрес:
                                .slide4-contacts-text-contact г.&nbsp;Новосибирск, ул.&nbsp;Максима&nbsp;Горького&nbsp;54, 3&nbsp;этаж, офис&nbsp;207
                                .slide4-contacts-text-title ТЕЛЕФОН:
                                .slide4-contacts-text-contact +7 (999) 242 44 55
                                .slide4-contacts-text-contact +7 (923) 333 45 98
                                .slide4-contacts-text-title почта:
                                .slide4-contacts-text-contact FORMATARCHITECTS@GMAIL.COM
                            .slide4-contacts-form

                    .slide4-map.backgrounded-img(style='background-image:url(../media/case3.png')
