doctype html
html
  head
    link(rel="stylesheet", href="index.css")

    body
        header
            nav
                a(href="buo.html") Бюро
                a(href="objects.html") Объекты
                a(href="uslugi.html") Услуги
                a(href="vacancy.html") Вакансии
                a(href="contact.html") Контакты

            logo
                svg(width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg")
                    path(d="M29.1667 0H23.3333H17.5H11.6667H5.83333V5.16667V10.3333V15.5V20.6667H0V25.8333H5.83333V31H11.6667V25.8333H17.5H23.3333H29.1667H35V20.6667H29.1667H23.3333H17.5H11.6667V15.5V10.3333V5.16667H17.5H23.3333H29.1667V15.5H35V5.16667V0H29.1667Z" fill="#333333")


        block content

        footer
            a(hred="tel:+73833478505") 8 (383) 347-85-05